# 本地开发配置

APP_ADMIN_USER=admin
APP_ADMIN_PASSWORD=admin123

PORT=3001
# 本地开发先用 localhost，部署正式官网时改成你的 HTTPS 域名，比如 https://lmf.hszk365.cn
APP_FRONTEND_URL=http://127.0.0.1:5173
# 如果你的前端部署在子路径 /web/ 下，生产构建时把 VITE_BASE_PATH 设成 /web/

DOUYIN_CLIENT_KEY=
DOUYIN_CLIENT_SECRET=
DOUYIN_REDIRECT_URI=http://127.0.0.1:3001/oauth/douyin/callback
DOUYIN_SCOPE=video.create
DOUYIN_API_BASE_URL=https://open.douyin.com
DOUYIN_UPLOAD_FIELD_NAME=video

BILIBILI_CLIENT_ID=
BILIBILI_CLIENT_SECRET=
BILIBILI_REDIRECT_URI=http://127.0.0.1:3001/oauth/bilibili/callback
BILIBILI_AUTHORIZATION_URL=https://passport.bilibili.com/oauth2/authorize
BILIBILI_API_BASE_URL=https://api.bilibili.com
BILIBILI_MEMBER_BASE_URL=https://member.bilibili.com
BILIBILI_OPENUPOS_BASE_URL=https://openupos.bilivideo.com
BILIBILI_DEFAULT_TID=75
BILIBILI_UPLOAD_CHUNK_SIZE=8388608
