node_modules
dist
.vite
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server/data/db.json
server/uploads/*
!server/uploads/.gitkeep
dev-*.log
vite-*.log
tmp_*
.env
.env.local
.env.*.local
